

.App {
  background-color: #b6b6b6 ;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  justify-content: center;
  color: #202020;
  background-image: url('./image/fondoweb4.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

